<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        .messagesHolder {
            background-color: blueviolet;
        }
      .messageBox{
        background-color:gray;
        padding:15px;
          border-radius: 5px;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
        margin:5px;
        white-space: pre-wrap;

      }
    </style>
</head>

<body class=" bg-primary">
  
    <div id="ping">
        Ping: 
    </div>
    <div id="messagesHolder">
        texts
    </div>
    <form action="" id="form">
        <textarea type="text" id="input"></textarea>
        <input type="submit">
    </form>
    <script>

        url = window.location.origin;
        var socket = io(url, {
            extraHeaders: {
                "session_token": "guest"
            }
        });

        var ping = document.getElementById('ping');
        var messages = document.getElementById('messagesHolder');
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            session_token = "";
            if (input.value) {
                respObj = { user: { Token: session_token } };
                respObj["message"] = input.value;
                socket.emit('messages', respObj);
                input.value = '';
            }
        });

        socket.on('messages', function (jsn) {
            var item = document.createElement('div');
          item.classList.add('messageBox');

            console.log(jsn);

            item.textContent = jsn["user"]["Username"] + ": " + jsn["message"];
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
            // socket.emit('chat message', "you said: " + input.value);
        });

        setInterval(() => {
            const start = Date.now();

            socket.emit("ping", () => {
                const duration = Date.now() - start;
                ping.textContent= "Ping: "+duration+"ms";
            });
        }, 100);

    </script>
</body>

</html>