<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        .messagesHolder {
            background-color: blueviolet;
        }
    </style>
</head>

<body class=" bg-primary">
    <div id="messagesHolder">
        texts
    </div>
    <form action="" id="form">
        <textarea type="text" id="input"></textarea>
        <input type="submit">
    </form>
    <script>

        url = "http://localhost:3000";
        var socket = io(url, {
            extraHeaders: {
                "session_token": "guest"
            }
        });

        var messages = document.getElementById('messagesHolder');
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            session_token = "";
            if (input.value) {
                respObj = { user: { Token: session_token } };
                respObj["message"] = input.value;
                socket.emit('messages', respObj);
                input.value = '';
            }
        });

        socket.on('messages', function (jsn) {
            var item = document.createElement('li');
            console.log(jsn);

            item.textContent = jsn["user"]["Username"] + ": " + jsn["message"];
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
            // socket.emit('chat message', "you said: " + input.value);
        });

        setInterval(() => {
            const start = Date.now();

            socket.emit("ping", () => {
                const duration = Date.now() - start;
                console.log(duration);
            });
        }, 1000);

    </script>
</body>

</html>